    <div class="background-ghost">
      <div class="cards">
        <div class="smaller-percent">
          <div class="card">
            <div class="some-height-padding login">
              <h1>Sign Up</h1>
              <div class="login-boxes">
              <%= render 'form' %>
              <p>For existing users, log in <%= link_to "here", login_path %></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
