<div class="title">Edit Project Cost</div>

<%= render 'form' %>

<div class="form-lower-buttons">
  <h3>
    <%= link_to 'Details', @project_cost %>
    <%= link_to 'Back to Project Costs', project_costs_path %>
    <%= link_to 'Delete This Cost', project_cost_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-button" %>
  </h3>
</div>
