
.sales-channel-index-name{
  @include span-columns(12);
  @include omega();
  font-size: 260%;
}


.sales-channel-index-description{
  @include span-columns(12);
}



.sales-channel-show-name{
  @include span-columns(12);
  @include omega();
  font-size: 260%;
}

.sales-channel-show-project-id{
  @include span-columns(7);
}

.sales-channel-show-cost{
  @include span-columns(2);
}

.sales-channel-show-amount{
  @include span-columns(3);
  @include omega();
}

.sales-channel-index-edit{
  @include span-columns(12);
}

h1 {
  font-weight: lighter;
  font-size: 35pt;
}

.sales-channel-index-edit {
  a {
    color: white;
    font-weight: lighter;
    font-weight: lighter;
    display: inline-block;
    text-decoration: none;
    margin-right: 3px; margin-top: 3px; margin-bottom: 8px;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: #333;
  }
}


.gd {
  margin-top: 5px; margin-bottom: 5px;
  display: inline-block;
}

.link-to-new-sales-channel {
  a {
    color: white;
    font-weight: lighter;
    font-weight: lighter;
    display: inline-block;
    text-decoration: none;
    margin-right: 3px; margin-top: 20px; margin-bottom: 3px;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
    
    float: right;
  }
}
